<div class="sidenav-header">
    <div class="sidenav-header" [class.hide-header-text]="navContentCollapsed()">
        <h2>Giglist</h2>
    </div>
    <mat-nav-list>
        <a mat-list-item
           *ngFor="let item of menuItems()"
           [routerLink]="item.route"
           routerLinkActive
           #rla="routerLinkActive"
           [activated]="rla.isActive"
        >
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            <span matListItemTitle *ngIf="!navContentCollapsed()">
                {{item.label}}
            </span>
        </a>
    </mat-nav-list>
</div>